name: build

on:
  push:
    branches:
      - "*"
    tags:
      - "v*"

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
        with:
          driver-opts: network=host

      - uses: docker/login-action@v1
        name: Login docker.io
        with:
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}

      - name: buildx
        run: |-
          export TAG=${{ github.sha }}
          if [[ ${{ github.ref }} == "refs/heads/"* ]]; then
            export TAG=$(echo ${{ github.ref }} | sed -e "s/refs\/heads\///")
          fi
          if [[ ${{ github.ref }} == "refs/tags/v"* ]]; then
            export TAG=$(echo ${{ github.ref }} | sed -e "s/refs\/tags\/v//")
          fi
          make dockerx